@import "variables";

.advantage__main-info {
  color: @title-color;
  background-color: @text-color;
}

.advantage__main-info--blue {
  color: @secondary-color;
  background-color: @background-info;
}
