@import "variables";

.bonus-item__title {
  font-weight: bold;
  font-size: @title-font-size;
  align-items: center;
  color: @title-color;
}

.bonus-item {
  display: flex;
}

.bonus-item__info {
  display: flex;
  flex-direction: column;
}
