@import "variables";

.button {
  padding: 15px 36px 17px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @secondary-color;
  background-color: @background-info;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @color-hover;
  }

  &:active {
    background-color: @color-active;
  }

  &:focus {
    outline: none;
  }

  &:active .button__text {
    opacity: 0.3;
  }
}
