@import "variables";

.contact-form {
  text-align: center;
}

.contact-form__title {
  padding: 30px 10px 10px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: @title-color;

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.contact-form__description {
  padding: 12px 20px;
}

.contact-form__button {
  margin-top: 10px;
  margin-bottom: 50px;
}
