@import "variables";

.form-review__controls-list {
  border-top: 1px solid black;
}

.form-review__title {
  font-weight: bold;
  font-size: @title-font-size;
  text-align: center;
  color: @title-color;
}
