@import "variables";

.page-header {
  position: relative;
  height: 56px;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page-header__logo-wrap {
  position: absolute;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.page-header__main-nav {
  position: absolute;
  right: 20px;
  top: 17px;

  @media (min-width: @tablet-width) {
    margin: 0 50px;
    position: relative;
    right: 0;
    top: 0;
  }
}
