@import "variables";

.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
