@import "variables";

.slogan {
  padding: 21px 30px 0;
  font-weight: bold;
  font-size: @title-font-size;
  text-align: center;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    padding: 31px 130px 0;
    font-size: 21px;
  }
}
