@import "variables";

.social__item {
  width: 46px;
  height: 48px;
  background-color: @blue;
  background-repeat: no-repeat;
  background-position: center;
}

.social__item--twitter {
  background-image: url("../img/social/icon-twitter.svg");
}

.social__item--youtube {
  background-image: url("../img/social/icon-youtube.svg");
}

.social__item--facebook {
  background-image: url("../img/social/icon-facebook.svg");
}
